
.col-md-3{
    align-content: center;
    width: 30%;
    height: 100%;
}
.sale_product{
    width:100%;
}
.products{
    display: none;
}
.sale-product {
    padding: 19px;
    margin: 0;
    background-color: green;

}
#caption{
    font-size: 200%;
    text-align: center;
    color: aliceblue;
    border-text: bold;
}
.images{
    background-color: white;
    padding: 5%;
    align-content: center;
    margin: 5%;
    border-radius: 20px;
}
.product-name{
    text-align: center;
    font-size: 200%;
    border-text: bold;
}
.new-price{
    text-align: center;
    color: #d60606;
    font-size: 150%;
}
.old-price{
    text-align: center;
    text-decoration: line-through;
}
/*=================================*/
.product-name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.price{
    color: red;
    font-weight: bold;
    font-size: 36px;
}
.count-search{
    color: dimgrey;
    font-size: 25px;
}

.hot-content{
    padding: 10px;
    text-align: left;
}
.hot-product {
    background: #0C760A;
}
.hot-field{
    margin: 10px;
    background: white;
    padding: 18px;
    align-items: center;
    border-radius: 12px;
}
.product-content .row{
    margin: 0!important;
}
.hot-area {
    margin: 12px 0;
}
/*==All product==*/
.all-content p {
    margin: 0;
    font-size: 1.3vw;
}
.wrap{
    display: flex;
    border-radius: 12px;
    padding: 14px;
    background: #FFFFFF;
    flex-wrap: wrap;
}
.wrap a{
    text-decoration: none;
    color: inherit;
    display: contents;
}
.line-through{
    text-decoration: line-through;
    font-size: 90%;
    color:darkgrey;
}
.zoom-90{ zoom:0.9;}
@media screen and (max-width: 768px) {
    .all-content p {
        font-size: 30px;
    }
}