.introduce{
    background-color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 2%;
}
#main-content{
    font-size: 40px;
    text-align: center;
}
.introduce .col-md-6{
    padding: 2%;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.introduce .row{
    margin: 0;
}