.content{
    height: 362px;
    width: 100%;
    border-radius: 12px;
    background-color: #0A9A07;
    margin-top: 15px;

}
.text{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
.text h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.text p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 42px;
}
.form_feedback{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 30px;

}
.form_feedback h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.form-inline{
    margin-left: 30px;
}
.form_feedback p{
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    width: 1000px;
    height: 500px;
    border: 1px solid black;
}
