.content{
    height: 362px;
    width: 100%;
    border-radius: 12px;
    background-color: #0A9A07;
    margin-top: 15px;

}
.content-feedback{
    height: 500px;
    width: 100%;
    border-radius: 12px;
    background-color: #0A9A07;
    margin-top: 15px;
}
.text{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
.text-content {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #FFFFFF;
}
.text p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 42px;
}
.form_feedback{
    position: absolute;
    color: white;
    margin-top: 20px;
    margin-left: 30px;
}
#fax{
    width: 544px;
    height: 74px;
}
.form-input{
    margin-left: 30%;
}
.input-box{
    width: 300px;
    border-radius: 5px;

}
#feedback{
    width: 600px;
    padding-bottom: 100px;
    border-radius: 5px;
}
#btn-submit{
    width: 100px;
    height: 50px;
    background: #D1BF1F;
    border-radius: 12px;
    margin-left: 40%;
    margin-top: 2%;
}