h3 {
    text-decoration-line: line-through;
}
.main {
    margin: 12px auto;
}
.col-left {
    background-color: #e5e5e5;
}
.col-right {
    margin-left: 5%;
    margin-top: 5%;
}

.extra {
    /* border: 14px solid #28a745; */
    padding: 7px;
    background-color: #ffffff;
    /* border-radius: 30px; */
    margin: 0 auto;
    box-shadow: 1px 1px 18px 0px black;
}
#titles {
    margin-left: 2%;
}

.buttons-added {
    margin-bottom: 20px;
}
#submit-button-left {
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
}
.text-detail {
    background: #FFFFFF;
    padding: 30px;
    margin: 12px auto;
}
#icon {
    text-align: center;
}
#submit-button-right {
    margin-top: 2%;
    background-color: #929E47;
}
h4 {
    font-size: 200%;
}

#col-right img {
    width: 100%;
    margin: auto;
}

#col-right {
    display: flex;
    align-items: center;
    padding: 10px;
}
.badded-count a {
    color: white;
}
.text-detail p {
    padding: 0 15px;
}