h3 {
    text-decoration-line: line-through;
}

.main {
    margin-top: 5%;
}
.col-left {
    background-color: #e5e5e5;
}
.extra {
    margin-right: 11%;
    margin-left: -3%;
    background-color: #69D067;
}
#titles {
    margin-left: 2%;
}

.buttons-added {
    margin-top: 35%;
    margin-bottom: 20px;
}
#submit-button-left {
    margin-left: 15%;

}
.text-detail {
    background: #69D067;
    margin: 3% 7% 3% 7%;
}
#icon {
    text-align: center;
}
#submit-button-right {
    margin-top: 2%;
}




