h3 {
    text-decoration-line: line-through;
}

.main {
    margin-top: 5%;
}
.col-left {
    background-color: #e5e5e5;
}
.col-right {
    margin-left: 5%;
    margin-top: 5%;
}

.extra {
    margin-right: 11%;
    margin-left: 5%;
    background-color: #69D067;
}
#titles {
    margin-left: 2%;
}

.buttons-added {
    margin-top: 35%;
    margin-bottom: 20px;

}
#submit-button-left {
    margin-left: 20%;
    margin-top: 1%;
    width: 60%;
}
.text-detail {
    background: #69D067;
    margin: 3% 7% 3% 7%;
}
#icon {
    text-align: center;
}
#submit-button-right {
    margin-top: 2%;
    width: 60%;
    background-color: #929E47;
}
h4 {
    padding-left: 15%;
    font-size: 200%;
}




