.recommand{
    padding: 10px;
    background: #d7fad8;
    font-size: 100%;
}
.re-option{
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    background: radial-gradient(#50e356, transparent);
}

/*Sale*/
.col-md-4{
    align-content: center;
    width: 30%;
}
.sale_product{
    width:100%;
}
.products{
    margin-bottom: 5px;
}
.sale-product {
    padding: 19px;
    margin: 0;
    background-color: green;
}
#product-content{
    font-size: 200%;
    text-align: center;
    color: aliceblue;
    border-text: bold;
}
.images{
    background-color: white;
    padding: 5%;
    text-align: center;
    border-radius: 20px;
}
.product-name{
    text-align: center;
    font-size: 200%;
    border-text: bold;
}
.new-price{
    text-align: center;
    color: #d60606;
    font-size: 150%;
}
.old-price{
    text-align: center;
    text-decoration: line-through;
}
/*Hot*/
