.recommand{
    padding: 10px;
    background: #d7fad8;
    font-size: 100%;
}
.re-option{
    margin: auto;
    text-align: center;
    border-radius: 25px;
    padding: 20px;
    background: radial-gradient(#50e356, transparent);
}

/*Sale*/
.col-md-4{
    align-content: center;
    width: 30%;
}
.sale_product{
    width:100%;
}
.sale-product {
    padding: 19px;
    margin: 0;
}
/*Hot*/
.product-name{
    font-size: 20px;
    font-weight: bold;
}
.price{
    color: red;
    font-weight: bold;
}
.count-search{
    color: dimgrey;
}
.hot-image{}
.hot-content{
    padding: 10px;
    text-align: center;
}
.hot-product {
    background: #0C760A;
}
.hot-field{
    margin: 10px;
    background: white;
    padding: 15px;
    align-items: center;
    border-radius: 12px;
}