/* Layout css */
/*HEADER*/
.menu {
    background: #069847!important;
}
.navbar-toggler{
    border: none!important;
}
.nav-link{
    color: white!important;
}
.box-shadow{
    box-shadow: 1px 1px 19px #0e0e0ed1;
}
/*footer*/
footer{
    padding: 30px;
    background: #0b8441;
    color: white;
}
.email-request{
    padding: 10px;
}
.bottom-nav{}
.bottom-nav ul li{
    list-style: none;
}
.bottom-nav ul li a{
    color: white;
}
.copyright{
    text-align:right;
}