.container-fluid{
    padding: 10px;
    margin: 0;
    /* background: #18c518; */
}
.login{
    /* position: absolute; */
    /* background-color: rgba(46, 231, 42, 0.65); */
    width: 100%;
    /* padding: 24px; */
}
.title{
    border-radius: 9px;
    border: none;
    padding: 9px 7px 9px 7px;
    color:white ;
    background: #0C760A;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}
.form-login{
    /* display: flex; */
    width: 100%;
    max-width: 1000px;
    margin: 48px auto;
    border-radius: 9px;
}
.background-input{
    padding: 0px 15px 15px 15px;
    width: 100%;
    border-radius: 9px;
    background-color: #FFFFFF;
    margin: auto;
}
.slide{
    border-radius: 18px;
    background-image:url("../images/login/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.login-input{
    width: 100%;
}
.style-input {
    background-color: rgba(46, 231, 42, 0.65);
    border-radius: 9px;
    border: none;
}
.instead-logo{display: none}
.instead-logo  img{
    max-width: 30%;
}
@media screen and (max-width: 768px){
    .instead-logo{
        display: block;
        text-align: center;
        padding: 10px;
    }
    .slide{background: none}
}