# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\team work\milo-shopping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
